<section class="banner-bottom py-5">
  <div class="container py-md-5">
    <div class="row grids-wthree-info">
      <div class="col-lg-6 bag-img">
        <img src="../assets/images/dreamz1.png"
          class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 ab-info-con ab-inf-page text-left fontt">
        <h4>About Our Baggage</h4>
        <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus
          libero.Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus
          libero.</p>
        <a href="https://demo.w3layouts.com/demos_new/template_demo/29-05-2019/baggage_demo_Free/379113341/web/single.html"
          class="btn shop mt-4">Read More</a>
      </div>
    </div>

    <!-- <div class="row grids-wthree-info text-center">
      <div class="col-lg-4 ab-content">
        <div class="ab-info-con">
          <h4>Fast &amp; Free Delivery</h4>
          <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero.
          </p>
        </div>
      </div>
      <div class="col-lg-4 ab-content">
        <div class="ab-info-con">
          <h4>Safe &amp; Secure Payments</h4>
          <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero.
          </p>
        </div>
      </div>
      <div class="col-lg-4 ab-content">
        <div class="ab-info-con">
          <h4>100% Money Back Guarantee</h4>
          <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero.
          </p>
        </div>
      </div>
    </div> -->
  </div>
</section>